* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  /* background-color: rgb(175, 255, 244); */
  /* background: linear-gradient(135deg, #89f7fe, #66a6ff); */
  /* background: linear-gradient(135deg, #ff9a9e, #fad0c4); */
  background: linear-gradient(270deg, #89f7fe, #66a6ff, #f6d365, #fda085);
  background-size: 800% 800%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-right: 15px;
}



rect[fill="#000000"].pressed {
  filter: brightness(2);
  fill: #444;
  /* y : 2; */
  transform: rotateX(10deg);
}

rect[fill="#ffffff"].pressed {
  fill: #57a4fd;
  /* transform: matrix3d(0.98); */
  transform: rotateX(10deg);
}


.drum {
  transition: all 0.1s ease;
  cursor: pointer;
}